body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
}

/* Set a style for the rest of the elements besides the header elements on the index.html page */



#postButton1{
   cursor: pointer;
   position: absolute;
   right: 30%;
   background-color: rgb(236, 204, 18);
   font-size: 15px;
   margin-top: 4px;
   margin-right: 10px;
   padding: 10px 14px;
   height:40px;
   width:110px;
   text-align: center;
}

#postButton2{
   cursor: pointer;
   position: absolute;
   left: 10%;
   background-color: rgb(236, 204, 18);
   font-size: 15px;
   margin-top: 4px;
   margin-right: 10px;
   padding: 10px 14px;
   height:40px;
   width:124px;
   text-align: center;
}

.postButtons{
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   position: absolute;
   top: 42%;
   left: 50%;
   color: blue;
   margin-top: 4px;

}
#createPostHeading{
     margin-top: -1%;
  }

  